<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- <%- include('./partial/about.ejs dfffgit ') %>
        <h1>Login form</h1> -->
        <button id="openPopupBtn">Shows Popups</button>
    <div class="login-sec" >
        <div class="login-con"id="popup">
            <h1>Login to your account</h1>
           <div class="darkmode">
             <i class="fa fa-moon-o" id="toggleTheme" aria-hidden="true"></i>
             <span id="closePopupBtn" class="close">&times;</span>
           </div>
            <div class="login-form">
                <div class="form-input">
                    <label for="email">Email</label>
                    <div class="form-email">
                        <input type="email" name="email" id="email" required placeholder="Enter your email">
                    </div>
                </div>
                <div class="form-input">
                    <div class="forgot">
                        <label for="password">Password</label>
                        <a href="#">Forgot？</a>
                    </div>
                    <div class="form-password">
                        <input type="password" name="password" id="password" required placeholder="Enter your password">
                        <!-- <i class="fa fa-eye" aria-hidden="true"></i> -->
                    </div>
                </div>
            </div>

            <div class="already">
                <p>Already have an account ?<a href="#">Log in</a></p>
            </div>
        </div>
    </div>







    <!-- <%- include('./partial/footer.ejs') %> -->
    <script src="/js/script.js"></script>
</body>

</html>